#container{
    -fx-background-color: linear-gradient(#febb39,#f9503e);
    -fx-max-width: 600;
    -fx-max-height: 400;
}
.label{
    -fx-text-fill: #b53ef9;
    -fx-font-size: 70px;
    -fx-font-weight: 900;
    -fx-font-family: Impact,sans-serif;
    -fx-effect:dropshadow(two-pass-box,#1f1f1f,1,0.5,-10.0,9.0);
    -fx-stroke: #000000;
    -fx-stroke-width: 10px;
}
.button{
    -fx-background-radius: 10px;
    -fx-effect: dropshadow(two-pass-box,#1f1f1f,1,0.5,-10.0,9.0);
}
#singlePlayerBtn{
    -fx-background-color: #81f93e;
    -fx-text-fill: #000000;
}
#multiBtn{
    -fx-background-color: #f93e81;
    -fx-text-fill: #000000;
}